@import './base/index.scss';
@import './components/index.scss';
@import './layout/index.scss';

@font-face {
    font-family:'Baskerville';
    src: url('../assets/fonts/Baskerville.woff2') format('woff2'),
    url('../assets/fonts/Baskerville.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
  }
  
  @font-face {
    font-family:'Baskerville Bold';
    src: url('../assets/fonts/BaskervilleBold.woff2') format('woff2'),
    url('../assets/fonts/BaskervilleBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
  }
  
  @font-face {
    font-family:'Inter';
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('../assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
  }

.flex {
  display: flex;
}

.app-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.title {
    z-index: 2;
    position: absolute;
    top: 0.8rem;
    font-family: 'Baskerville', sans-serif;
    left: 4rem;
    font-size: 2rem;
    .sub{
        font-size: 1rem;
    }
}

* {
    font-family: 'Inter', sans-serif;
}