.card-form-file {
    margin-left: 1rem;
    width: max-content;
}

.errorfield {
    margin-left: 1rem;
}

.parameter-card-form {
    width: 80vw;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-height: 28rem;
    .card-form-parameters {
        width: 35%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.3rem;
        max-height: 26rem;
        overflow-y: scroll;
        // scrollbar created at https://codepen.io/stephenpaton-tech/full/JjRvGmY
        * {
            scrollbar-width: auto;
            scrollbar-color: #6aa4df #ffffff;
        }
        
        &::-webkit-scrollbar {
            width: 16px;
        }
        
        &::-webkit-scrollbar-track {
            background: #ffffff;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #6aa4df;
            border-radius: 10px;
            border: 3px solid #ffffff;
        }
    }
    .card-form-divider {
        width: 1px;
        background-color: #00000038;
        align-self: stretch;
    }

    .card-form-form {
        display: flex;
        flex-direction: column;
        width: 57%;
        .form-step-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
            & * {
                width: max-content;
            }
        }
    }
}

.input-field {
    margin-left: 1rem;
}