
.dashboard-main-container {
    width: 100%;
    flex: 1 1 auto;
    background-color: #757575;
    .dashboard-main {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        &-navigation {
            width: 4rem;
            height: 100%;
            background-color: #757575;
        }
        &-content {
            flex: 1 1 auto;
            background-color: #8d8d8d;
        }
    }
}