.header-container {
    width: 100%;
    background-color: rgb(65, 65, 65);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .header {
        margin: 0 auto;
        max-width: 100rem;
        padding-left: 1.5em;
        padding-right: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}