.map-timestamp-list {
    padding: 1rem;
    padding-bottom: 4rem;

    .marker-info__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        align-items: end;
        margin-bottom: 1rem;
        overflow-wrap: break-word;
        h2 {
            font-weight: 700;
            width: 80%;
        }
        .marker-info__header--close {
            background-color: #d5212a;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: #ffffff;
            }
        }
    }
    .marker-info__body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        line-height: 1.5;
    }
    .marker-info__divider{
        height: 2px;
        width: stretch;
        background-color: #3636363a;
        margin: 1rem 0;
    }
    .marker-info__no-timestamps{
        width: 100%;
        text-align: center;
        height: stretch;
        font-size: 2rem;
        margin-top: 3rem;
    }
    .button {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        transition: all 0.3s ease-in-out;
        & > * {
            transition: opacity 0.3s ease-in-out;
        }

        &--not-loaded {
            opacity: 0;
            transition: all 0.3s ease-in-out;
            & > * {
                opacity: 0;
                width: 0;
                transition: opacity 0.3s ease-in-out;
            }
        }
    }
}