.marker-info__timestamp {
    margin: 0 auto;
    padding: 1rem;
}

/* Styles for the image */
.timestamp__image-container {
    width: 100%;
    margin: 0 auto;
    img {
        width: 100%;
        max-height: 20rem;
        object-fit: cover;
    }
}

/* Styles for the header */
.timestamp__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Styles for the date within the header */
.info-header__date {
    margin-left: 1rem;
    font-size: 0.8rem;
    color: #888;
}

/* Styles for the description */
.timestamp__body {
    margin-top: 2rem;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 3rem;
    border-bottom: solid 1px #ccc;
}

@media (min-width: 768px) {.marker-info__timestamp {
        margin: 0 auto;
        padding: 1rem;
    }

    /* Styles for the image */
    .timestamp__image-container {
        width: 90%;
        margin: 0 auto;
        img {
            width: 100%;
            max-height: 20rem;
            object-fit: cover;
        }
    }

    /* Styles for the header */
    .timestamp__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    /* Styles for the date within the header */
    .info-header__date {
        margin-left: 1rem;
        font-size: 0.8rem;
        color: #888;
    }

    /* Styles for the description */
    .timestamp__body {
        margin-top: 2rem;
        text-align: left;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 3rem;
        border-bottom: solid 1px #ccc;
    }
}